/* Folha de estilos complementar */

.header {
    margin: 10px 0 10px 0;
}
.align-center {
    text-align: center;
}
.footer {
    margin-bottom: 30px;
}
.item-assunto {
    margin-bottom: 5px;
    font-size: 18px;
}
.botao-ok, .botao-remover {
    font-size: 20px;
}
a.botao-ok {
    color: #1fee34;
}
a:hover.botao-ok {
    color: darkgreen;
}
a.botao-remover {
    color: red;
}
a:hover.botao-remover {
    color: darkred;
}